html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #F8F8F8;
  font-family: "neuzeit-grotesk",sans-serif;
  font-size: 14px;
  font-weight: bold;
}

h1 {
  font-family: "eloquent-jf-pro";
  font-size: 2rem;
  line-height: 145%;
  color: black;
  font-weight: normal;
  border-bottom: .2rem solid #FFB3D0;
  width: 90%;
}
h2 {
  font-family: "eloquent-jf-pro";
  font-size: 1.5rem;
  line-height: 135%;
  color: #6577B7;
  font-weight: normal;
  max-width: 80%;
  padding-left: 5%;
}

h4 {
  color: black;
  line-height: 145%;
  margin-top: -5%;
}

/* Nav */

.menu-link {
  display: block;
  color: white;
  text-decoration: none;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-top: .5rem;
}

.bar1, .bar2, .bar3 {
    width: 17.5px;
    height: 2.5px;
    background-color: #FFB3D0;
    border-radius: 10px;
    margin: 3px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4.5px, 3px) ;
    transform: rotate(-45deg) translate(-4.5px, 3px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px) ;
    transform: rotate(45deg) translate(-4px, -4px) ;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.3rem;
  width: 50%;
}

.mainNavDropDown{
  padding-left: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: none;
 }
.mainNavDropDown li{
  font-size: 20px;
  padding: 25px;
  width: 100%;
  background: seashell;
  border-bottom: 1px solid black;
 }
.mainNavDropDown li:last-child{
  border-bottom: none;
 }
.mainNavDropDown li:hover{
  background: black;
  color: seashell
 }

/* Hero */

#pinkTri {
  z-index: -1;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90%;
}

#hero-circle {
  float: right;
  margin-right: -4%;
  width: 80%;
  padding-top: 1.5rem;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#rainbow {
  position: relative;
  left: -15%;
  width: 40%;
}

/* Shop */

#waves {
  position:absolute;
  z-index: -1;
  display: block;
  margin-left: -10%;
  margin-right: auto;
  padding-top: 4rem;
  width: 120%;
}

.shop-wrapper {
  width: 100%;
}

#tall-pic {
  width: 60%;
  padding-top: 7rem;
  margin-left: -15%;
  float: left;
}

.shop-container {
  width: 45%;
  display: inline-block;
  margin-top: 45%;
  padding-left: 1rem;
}

.button {
  background: #FFB3D0;
  border: none;
  width: 7.5rem;
  border-radius: 0px;
  text-align: center;
  color: white;
  line-height: 1.1rem;
  text-decoration: none;
  padding: .2rem 0;
}

#circle-sun {
  width: 50%;
  float: right;
  margin-right: -10%;
  padding-top: 15%;
}

/* Style */

#tonal-tri {
  position:absolute;
  z-index: -1;
  display: block;
  margin-left: -10%;
  padding-top: 85%;
  width: 70%;
}

#headshot {
  position: relative;
  right: -25%;
  width: 80%;
  margin-top: 65%;

}

.style-container {
  width: 50%;
  display: inline-block;
  margin-top: -3rem;
  padding-left: 1.5rem;
}

#wave-stripe {
  position: absolute;
  right: -1rem;
  margin-top: 4rem;
  margin-left: -10%;
  width: 70%;
}

/* Editorials */

#green-tri {
  width: 70%;
  margin-top: 60%;
  margin-left: -3%;

}

.editorials {
  width: 100%;
}

.editorials-container {
  margin-top: -15%;
}

.editorials-single-container {
  position: relative;
  width: 100%;
}

.editorials-single img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 88%;
}

.editorials-single h3 {
  position: absolute;
  top: 85%;
  left: 5%;
  width: 70%;
  font-family: "eloquent-jf-pro";
  font-size: 1.5rem;
  color: black;
  font-weight: normal;
  background-color: #F8F8F8;
  padding-top: 3.5%;
  text-decoration: none;
}

.button-container-editorials {
  margin-top: 2rem;
  max-width: 100%;
  text-align: center;
}

.button-editorials {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

.footer-container {
  background-color: #6577B7;
  text-align: center;
  margin-top: 3.75rem;
  max-width: 100%;
  padding: 2rem 0 3rem 0;
}

.menu-link.footer {
  font-size: 1.2rem;
  margin-top: 3%;
}

h5.footer {
  color: white;
  font-size: 1.75rem;
  padding-top: 3rem;
  padding-bottom: 0;
  margin: 0;
}

h4.footer {
  color: white;
  margin: 0;
  padding: 0;
  padding-top: .5rem;
}

.form {
  width: 100%;
}

input[type=text] {
  display: inline;
  width: 13.75rem;
  margin-top: 2rem;
  background: #6577B7;
  border: 1px solid white;
  padding: 2%;
  font-family: "neuzeit-grotesk",sans-serif;
  font-size: 1rem;
  color: white;
}

input[type=submit] {
  display: inline;
  background: #6577B7;
  border: none;
  font-family: "neuzeit-grotesk",sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

.instagram {
  width: 2rem;
  margin-top: 2rem;
}
